.wrapper {
    flex: 1;
    border-right: 0.05rem solid rgb(230, 227, 227);
    background-color: var(--color-white);
}

// Sidebar Top

.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 0.05rem solid rgb(230, 227, 227);

    .sidebar-top-logo {
        color: #6439ff;
        font-size: 2.2rem;
        font-weight: 700;
        cursor: pointer;
    }
}

// Sidebar Center
.sidebar-center {
    padding-left: 10px;

    .sidebar-list-item {
        margin: 0;
        padding: 5px;
        cursor: pointer;
        list-style: none;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #ece8ff;
        }
    }

    .sidebar-center-heading {
        font-size: 1.4rem;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .sidebar-icon {
        font-size: 2rem;
        color: #7451f8;
    }
    .sidebar-title {
        font-weight: 600;
        color: #888;
        margin-left: 10px;
    }
}

// Sidebar Bottom

.sidebar-bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .sidebar-color-option {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #7451f8;
        cursor: pointer;
        margin: 5px;

        &:nth-child(1) {
            background-color: whitesmoke;
        }

        &:nth-child(2) {
            background-color: #333;
        }
        &:nth-child(3) {
            background-color: darkblue;
        }
    }
}
