.cell-width {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .cell-img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
    }
    .cell-status {
        padding: 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        max-width: fit-content;
        line-height: initial;
        &.active {
            color: green;
            background-color: rgba(0, 128, 0, 0.05);
        }

        &.pending {
            color: goldenrod;
            background-color: rgba(255, 217, 0, 0.05);
        }

        &.passive {
            color: crimson;
            background-color: rgba(255, 0, 0, 0.05);
        }
    }
}
